.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore large files
*.pt
*.csv
*.RData
*.Rda
*.pdf
*.txt
*.npz
*.out

# ignore pre-complied code
*.cpython-37.pyc
__pycache__/
*.py[cod]
*.pyc

# ignore tensorboard outputs
events*
